<div *ngIf="playlist.featuredPlaylists && playlist.featuredPlaylists.name">
  <h1>{{playlist.featuredPlaylists.name}}</h1>

  <swiper
    [config]="config"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
  >
    <ng-template class="swiper-slide" swiperSlide *ngFor="let content of playlist.featuredPlaylists.content; index as i">
      <a target="_blank" href="{{content.url}}">
        <img class="content-image" src="{{content.artwork}}" />
        <div class="content-details">
          <div class="limited-text">{{content.curator_name}} - {{content.name}}</div>
        </div>
      </a>
    </ng-template>

  </swiper>
</div>
